* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.navbar {
    display: flex;
    align-content: center;
}

.logo {
    margin: 10px;
    height: 50px;
}

#navbutton {
    text-decoration: underline;
    margin: 10px;
}

#mission {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin: 0 auto;
}

#mission1 {
    display: flex;
    justify-content: center;
    width: 1200px;
}

#pic {
    height: 200px;
    width: 300px;
}

#featured {
    display: flex;
    flex-flow: column wrap;
}

#feattitle {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

#images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
}

#capmargin {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.locationinfo {
    background-image: url(./img-locations-background.jpg);
    height: 600px;
    width: 1200px;
    margin: 0 auto;
}

#lcn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lcns {
    width: 300px;
    text-align: center;
}